@import './css/variables.css';
@import './css/base.css';
@import './css/profile.css';
@import './css/viewing.css';
@import './css/media.css';


.attribution {
    font-size: 0.688rem;
    text-align: center;
}

.attribution a {
    color: var(--Desaturated-blue);
}